@font-face {
  font-family: 'Fairy Dust B';
  src: url( "../assets/fonts/FairyDustB.ttf") format('truetype');
}
@font-face {
  font-family: 'Simple Runes';
  src: url( "../assets/fonts/Simple Runes.ttf") format('truetype');
}

html, body {margin: 0; padding: 0;}
* {margin: 0; padding: 0;}

body {background: rgb(29,29,58); overflow-x: hidden;}
#header {
  height: 100vh;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.header-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.header-content {
  position: absolute;
  width: 100%;
  height: 100%;
  height: 100vh;
  max-height: 100%;
  font-family: 'Fairy Dust B';
  text-align: center;
  .book_title, .scroll-down {
    left: 0; right: 0;
    margin: auto;
    position: absolute;
    height: 100px;
    color: white;
  }
  .book_title {
    font-size: 5rem;
    font-weight: 400;
    top: 15%;
  }
  .scroll-down {
    font-size: 2rem;
    top: 40%;
    .chevron-down {
      font-size: 3rem;
      cursor: pointer;
    }
  }
}

.content-container {
  position: relative;
  top: -50vh !important;
  width: 1000px;
  margin: auto;
}
.content {
  width: 100%; 
  height: 500px;
  padding: 0 100px;
  box-sizing: border-box;
  position: relative;
  color: white;
  margin-bottom: 50px;
  .description, .description-image, .order, .order-image {position: absolute;}
  .content-title{
    font-size: 6rem;
    font-family: 'Fairy Dust B';
    font-weight: 400;
    color: #f2be79;
  }
  .text-content {
    // font-family: 'Fairy Dust B';
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
  }
  .description {
    width: 50%; 
    max-width: 500px;
    height: 100%;
    padding-top: 50px;
  }
  .description-image {
    width: 50%;
    width: 800px;
    right: -25%;
    top: -20%; 
    height: 100%;
    img {
      width: 100%;
    }
  }
  .setting {
    width: 100%;
    padding-top: 50px;
  }
  .setting-images {
    // Add Flora here 
  }
  &.content-third {
    text-align: right;
    height: 600px;
    .content-title {
      right: -10%;
      position: absolute;
    }
  }
  .order {
    width: 50%; 
    height: 100%;
    right: 0%;
    text-align: center;
    padding-top: 50px;
    
    h3 {
      font-family: 'Fairy Dust B';
      font-size: 2rem;
      padding: 20px 0;
      color: white;
      letter-spacing: 2px;
      text-transform: capitalize;
    }
    .form {
      margin: auto;
      width: 75%;
      height: 200px;
      position: absolute;
      top: 150px; 
      left: 0; right: 0;
      // box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.5);
      font-size: 1rem;
      input {
        background-color: #1d1d3a;
        padding: 5px;
        height: 50px;
        margin: 0;
        width: 100%;
        margin: 10px 0;
        text-align: center;
        border: none;
        font-size: 1rem;
        outline: none;
        box-sizing: border-box;
        border-bottom: 1px solid #f2be79;
        &::placeholder {color: white; opacity: 1;}
        &:-ms-input-placeholder {color: white;}
        &::-ms-input-placeholder {color: white;}
      }
      #select {
        height: 50px;
        overflow: hidden;
        position: relative;
        margin: 10px 0;
        border-bottom: 1px solid #f2be79;
        &.open {
          height: 200px;
          li {position: relative;}
        }
        li {
          position: absolute;
          z-index: 2;
          width: 100%;
          list-style: none;
          line-height: 50px;
          background-color: #1d1d3a;
          cursor: pointer;
          &.select-options {z-index: 1;}
          &.selected {z-index: 3;}
        }
      }
      button {
        width: 100%; height: 50px;
        border: none; color: white;
        background-color: #1d1d3a;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        font-size: 1rem;
        cursor: pointer;
        margin: 10px 0;
        outline: none;
        background: #f2be79;
        color: #1d1d3a;
        font-weight: bold;
      }
    }
  }
  .order-image {
    width: 500px;
    left: 50px;
    // height: 400px;
    bottom: 0;
    margin: auto;
    left: -5%;
    top: -20%; 
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.footer {
}
