@font-face {
  font-family: 'Fairy Dust B';
  src: url("../assets/fonts/FairyDustB.ttf") format("truetype");
}

@font-face {
  font-family: 'Simple Runes';
  src: url("../assets/fonts/Simple Runes.ttf") format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #1d1d3a;
  overflow-x: hidden;
}

#header {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.header-background {
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.header-background img {
  height: 100%;
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-content {
  height: 100vh;
  width: 100%;
  position: absolute;
  font-family: 'Fairy Dust B';
  text-align: center;
}

.header-content .book_title, .header-content .scroll-down {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 100px;
  color: white;
}

.header-content .book_title {
  font-size: 5rem;
  font-weight: 400;
  top: 15%;
}

.header-content .scroll-down {
  font-size: 2rem;
  top: 40%;
}

.header-content .scroll-down .chevron-down {
  font-size: 3rem;
  cursor: pointer;
}

.content-container {
  height: auto;
  width: 1000px;
  position: relative;
  top: -50vh !important;
  margin: auto;
}

.content {
  height: 500px;
  width: 100%;
  position: relative;
  padding: 0 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  margin-bottom: 50px;
}

.content .order, .content .order-image {
  position: absolute;
}

.content .content-title {
  font-size: 6rem;
  font-family: 'Fairy Dust B';
  font-weight: 400;
  color: #f2be79;
}

.content .text-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.content .description {
  height: 100%;
  width: 50%;
  position: absolute;
  max-width: 500px;
  padding-top: 50px;
}

.content .description-image {
  height: 100%;
  width: 800px;
  position: absolute;
  right: -25%;
  top: -20%;
}

.content .description-image img {
  width: 100%;
}

.content .setting {
  width: 100%;
  padding-top: 50px;
}

.content.content-third {
  text-align: right;
  height: 600px;
}

.content.content-third .content-title {
  right: -10%;
  position: absolute;
}

.content .order {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0%;
  text-align: center;
  padding-top: 50px;
}

.content .order .form {
  height: 200px;
  width: 75%;
  position: absolute;
  margin: auto;
  top: 150px;
  left: 0;
  right: 0;
  font-size: 1rem;
}

.content .order .form input {
  background-color: #1d1d3a;
  padding: 5px;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  text-align: center;
  border: none;
  font-size: 1rem;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #f2be79;
}

.content .order .form input::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

.content .order .form input:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.content .order .form input::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.content .order .form input::placeholder {
  color: white;
  opacity: 1;
}

.content .order .form input:-ms-input-placeholder {
  color: white;
}

.content .order .form input::-ms-input-placeholder {
  color: white;
}

.content .order .form #select {
  height: 50px;
  overflow: hidden;
  position: relative;
  margin: 10px 0;
  border-bottom: 1px solid #f2be79;
}

.content .order .form #select.open {
  height: 200px;
}

.content .order .form #select.open li {
  position: relative;
}

.content .order .form #select li {
  position: absolute;
  z-index: 2;
  width: 100%;
  list-style: none;
  line-height: 50px;
  background-color: #1d1d3a;
  cursor: pointer;
}

.content .order .form #select li.select-options {
  z-index: 1;
}

.content .order .form #select li.selected {
  z-index: 3;
}

.content .order .form button {
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  background-color: #1d1d3a;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  cursor: pointer;
  margin: 10px 0;
  outline: none;
  background: #f2be79;
  color: #1d1d3a;
  font-weight: bold;
}

.content .order-image {
  height: auto;
  width: 500px;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: -5%;
  top: -20%;
}

.content .order-image img {
  height: 100%;
  width: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=styles.css.map */