@font-face {
  font-family: 'Fairy Dust B';
  src: url( "../assets/fonts/FairyDustB.ttf") format('truetype');
}
@font-face {
  font-family: 'Simple Runes';
  src: url( "../assets/fonts/Simple Runes.ttf") format('truetype');
}

html, body {margin: 0; padding: 0;}
* {margin: 0; padding: 0;}

body {background: rgb(29,29,58); overflow-x: hidden;}

@mixin sizeAndPos($width, $height, $position) {
  height: $height;
  width: $width;
  position: $position;
}

#header {
  @include sizeAndPos(100%, 100vh, relative);
  overflow: hidden;
}

.header-background {
  @include sizeAndPos(100%, 100vh, absolute);
  overflow: hidden;
  img {
    @include sizeAndPos(100%, 100%, absolute);
    object-fit: cover;
  }
}

.header-content {
  @include sizeAndPos(100%, 100vh, absolute);
  font-family: 'Fairy Dust B';
  text-align: center;
  .book_title, .scroll-down {
    left: 0; right: 0;
    margin: auto;
    position: absolute;
    height: 100px;
    color: white;
  }
  .book_title {
    font-size: 5rem;
    font-weight: 400;
    top: 15%;
  }
  .scroll-down {
    font-size: 2rem;
    top: 40%;
    .chevron-down {
      font-size: 3rem;
      cursor: pointer;
    }
  }
}

.content-container {
  @include sizeAndPos(1000px, auto, relative);
  top: -50vh !important;
  margin: auto;
  box-sizing: border-box;
}

.content {
  @include sizeAndPos(100%, 500px, relative);
  padding: 0 100px;
  box-sizing: border-box;
  color: white;
  margin-bottom: 50px;
  .order, .order-image {position: absolute;}
  .content-title{
    font-size: 6rem;
    font-family: 'Fairy Dust B';
    font-weight: 400;
    color: #f2be79;
  }
  .text-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
  }
  .description {
    @include sizeAndPos(50%, 100%, absolute);
    max-width: 500px;
    padding-top: 50px;
  }
  .description-image {
    @include sizeAndPos(800px, 100%, absolute);
    right: -25%;
    top: -20%; 
    img {width: 100%;}
  }
  .setting {
    width: 100%;
    padding-top: 50px;
  }
  // .setting-images {
  //   // Add Flora here 
  // }
  &.content-third {
    text-align: right;
    height: 600px;
    .content-title {
      right: -10%;
      position: absolute;
      z-index: 3;
    }
  }
  .order {
    @include sizeAndPos(50%, 100%, absolute);
    right: 0%;
    text-align: center;
    padding-top: 50px;
    .form {
      @include sizeAndPos(75%, 200px, absolute);
      margin: auto;
      top: 150px; 
      left: 0; right: 0;
      z-index: 2;
      // box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.5);
      font-size: 1rem;
      input {
        background-color: #1d1d3a;
        padding: 5px;
        height: 50px;
        width: 100%;
        margin: 10px 0;
        text-align: center;
        border: none;
        font-size: 1rem;
        outline: none;
        box-sizing: border-box;
        border-bottom: 1px solid #f2be79;
        &::placeholder {color: white; opacity: 1;}
        &:-ms-input-placeholder {color: white;}
        &::-ms-input-placeholder {color: white;}
      }
      #select {
        height: 50px;
        overflow: hidden;
        position: relative;
        margin: 10px 0;
        border-bottom: 1px solid #f2be79;
        &.open {
          height: 200px;
          li {position: relative;}
        }
        li {
          position: absolute;
          z-index: 2;
          width: 100%;
          list-style: none;
          line-height: 50px;
          background-color: #1d1d3a;
          cursor: pointer;
          &.select-options {z-index: 1;}
          &.selected {z-index: 3;}
        }
      }
      button {
        width: 100%; height: 50px;
        border: none; color: white;
        background-color: #1d1d3a;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        font-size: 1rem;
        cursor: pointer;
        margin: 10px 0;
        outline: none;
        background: #f2be79;
        color: #1d1d3a;
        font-weight: bold;
      }
    }
  }
  .order-image {
    @include sizeAndPos(500px, auto, absolute);
    bottom: 0;
    margin: auto;
    left: -5%;
    top: -20%; 
    img {
      @include sizeAndPos(100%, 100%, relative);
      object-fit: cover;
    }
  }
}

@media (max-width: 1400px) {
  .content {
    &.content-third {
      .content-title {right: -5%;}
    }
    .order-image {left: -10%;}
  }
}

@media (max-width: 1350px) {
  .content {
    left: -5%;
    &.content-third {
      .content-title {right: -10%;}
    }
    .order-image {left: -5%;}
  }
}

@media (max-width: 1250px) {
  .content {
    left: -5%;
    .content-title{font-size: 5rem;}
    .description-image {
      @include sizeAndPos(700px, 100%, absolute);
      right: -15%;
    }
    &.content-third {
      .content-title {right: -3%;}
    }
    .order-image {
      @include sizeAndPos(400px, auto, absolute);
      left: 7%;
    }
  }
}

@media (max-width: 1050px) {
  .content-container {@include sizeAndPos(800px, auto, relative);}
  .content {
    left: 0%;
    .content-title{
      font-size: 4.5rem;
      left: 0%;
      position: absolute;
    }
    .description {
      @include sizeAndPos(45%, 100%, absolute);
      left: 0%;
      margin-top: 5rem;
    }
    &.content-second {padding-top: 30px;}
    .description-image {
      @include sizeAndPos(650px, 100%, absolute);
      right: -20%;
    }
    .setting {
      @include sizeAndPos(100%, 100%, absolute);
      margin-top: 5rem;
      left: 0%;
    }
    &.content-third {
      .content-title {right: 0%;}
    }
    .order {right: 0%;}
    .order-image {
      @include sizeAndPos(500px, auto, absolute);
      bottom: unset;
      left: -10%;
    }
  }
}


@media (max-width: 950px) {
  .content-container {@include sizeAndPos(700px, auto, relative);}
  .content {
    .content-title{font-size: 4rem;}
    &.content-second {padding-top: 50px;}
    &.content-third {
      .content-title {right: -3%;}
    }
    .order-image {left: -18%;}
  }
}


@media (max-width: 850px) {
  .content {
    height: 600px;
    height: auto;
    .content-title{
      font-size: 4rem;
      left: unset;
      text-align: center;
      position: relative; 
    }
    .description {
      @include sizeAndPos(100%, auto, relative);
      padding-top: 0px;
      margin-top: 0;
    }
    .description-image {
      @include sizeAndPos(75%, auto, relative);
      right: unset;
      top: unset; 
      margin: auto;
      padding: 25px 0;
    }
    .setting {
      @include sizeAndPos(100%, auto, relative);
      margin-top: 0;
      padding: 50px 0;
    }
    &.content-third {
      height: auto;
      .content-title {
        right: unset;
        position: relative;
        text-align: center;
      }
    }
    .order {
      @include sizeAndPos(100%, auto, relative);
      text-align: center;
      right: unset;
      height: 450px;
      padding-top: 50px;
      .form {top: 50px;}
    }
    .order-image {
      @include sizeAndPos(100%, auto, relative);
      left: unset;
      top: unset; 
    }
  }
}



@media (max-width: 750px) {
  .header-content {
    // @include sizeAndPos(100%, 100vh, absolute);
    .book_title, .scroll-down {
      // height: 100px;
    }
    .book_title {
      font-size: 4rem;
      // top: 15%;
    }
    .scroll-down {
      // font-size: 2rem;
      // top: 40%;
      .chevron-down {
        // font-size: 3rem;
      }
    }
  }
  .content-container {@include sizeAndPos(600px, auto, relative);}
}

@media (max-width: 650px) {
  .content-container {@include sizeAndPos(500px, auto, relative);}
  .content {padding: 0 0px;}
}


@media (max-width: 600px) {
  .header-content {
    .book_title {font-size: 3.5rem;}
  }
  .content-container {
    @include sizeAndPos(100%, auto, relative);
    padding: 0 25px;
  }
}


@media (max-width: 500px) {
  .header-content {
    .book_title {font-size: 3rem;}
    .scroll-down {font-size: 1.9rem;}
  }
}


@media (max-width: 450px) {
  .header-content {
    .book_title {font-size: 3rem;}
    .scroll-down {font-size: 1.9rem;}
  }
  .content-container {
    // @include sizeAndPos(100%, auto, relative);
    // padding: 0 25px;

    // top: -50vh !important;
    // margin: auto;
  }

  .content {
  // padding: 0 0px;

    // left: 0%;
    // height: 600px;
    // height: auto;

    .content-title{
      // font-size: 4rem;
      // left: unset;
      // text-align: center;
      // position: relative; 

    }
    .text-content {
      // font-size: 1rem;
    }
    .description {
      // @include sizeAndPos(100%, auto, relative);

      // max-width: 500px;
      // left: 0%;

      // padding-top: 0px;
      // margin-top: 0;
    
    }
    &.content-second {
      // padding-top: 50px;
    
    }
    .description-image {
      // @include sizeAndPos(650px, 100%, absolute);
      // @include sizeAndPos(75%, auto, relative);
      // right: unset;
      // top: unset; 
      // margin: auto;
      // padding: 25px 0;
      // img {width: 100%;}
    }
    .setting {
      // @include sizeAndPos(100%, auto, relative);

      // margin-top: 0;
      // left: 0%;
      // padding: 50px 0;

    }
    &.content-third {
      // height: auto;
      .content-title {
        // right: unset;
        // width: 100%;
        // position: relative;
        // text-align: center;
      }
    }
    .order {
      // @include sizeAndPos(50%, 100%, absolute);
      // @include sizeAndPos(45%, 100%, absolute);
      // @include sizeAndPos(100%, auto, relative);
      // text-align: center;

      // right: unset;
      // height: 450px;
      // padding-top: 50px;
      .form {
        // @include sizeAndPos(75%, 200px, absolute);
        // margin: auto;
        // top: 50px; 
        // left: 0; right: 0;
        // font-size: 1rem;
        input {
          // padding: 5px;
          // height: 50px;
          // width: 100%;
          // margin: 10px 0;
          // font-size: 1rem;
        }
        #select {
          // height: 50px;
          // margin: 10px 0;
          &.open {
            // height: 200px;
          }
          li {
            // line-height: 50px;
          }
        }
        button {
          // height: 50px;
          // font-size: 1rem;
          // margin: 10px 0;
        }
      }
    }
    .order-image {
      // @include sizeAndPos(500px, auto, absolute);
      // @include sizeAndPos(100%, auto, relative);

      // bottom: unset;
      // margin: auto;
      // left: unset;


      // top: unset; 
      img {
        // @include sizeAndPos(100%, 100%, relative);
      }
    }
  }
}




